[submodule "civetweb"]
	path = civetweb
	url = https://github.com/splashkit/civetweb
[submodule "microui"]
	path = microui
	url = https://github.com/rxi/microui
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp
